*{
	margin: 10;
	padding: 5;
}

.Name{
	color: lime;
	width: 100px;
	height: 75px;

}

body{
	background-color: black;
	background-position: center;
	background-size: cover;
	background-blend-mode: screen;


}

.tab{
	color: lime;
}
.youtube{
	color: red;
	background-color: black
}

.first{
	color: red;
}

.Gogoanime{
	color: darkgoldenrod;
	background-color: black
}

.Crunchyroll{
	color: orange;
	background-color: black
}
.Netflix{
	color: darkred;
	background-color: black
}
.line{
	color: green;
}

hr{
	color: red;
}
