*{
	margin: 10;
	padding: 5;
}

.Name{
	color: lime;
	width: 100px;
	height: 75px;

}

body{
	background-color: black;
	background-position: center;
	background-size: cover;


}

.tab{
	color: lime;
}
.youtube{
	color: red;
}

.first{
	color: red;
}

.Gogoanime{
	color: darkgoldenrod;
}